@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
}
